* {
  text-decoration: none;
  font-family: monospace;
}

.beer-card-container {
  background-color: #fff;
  border: 1px solid #9ca8bd;
  border-radius: 20px;
  padding: 20px 10px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-gap: 10px;
  gap: 10px;
  max-height: 380px;
  text-align: center;
  color: #222831;
}

.beer-card__image {
  width: auto;
  height: 120px;
}
